{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "prettier",
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "prettier/prettier": [
            1,
            {
                "trailingComma": "es5",
                "singleQuote": true,
                "semi": true
            }
        ]
    }
}